@import "../../../styles/colors.scss";

div.date-divider {
  display: flex;
  width: 100%;
  justify-content: center;

  span {
    font-size: 13px;
    color: $secondary-text-color;
    background: darken($primary-color, 3);
    margin: 20px 0 5px;
    padding: 8px 0;
    text-align: center;
    width: 100px;
    border-radius: 15px;
  }
}

div.message-spacer {
  margin-top: 5px;
}

div.message-container {
  display: flex;
  justify-content: flex-start;

  &.self {
    justify-content: flex-end;

    div.message-bubble {
      background-color: $secondary-color;
      order: 1;
      flex-direction: row;

      &.previousImmediate {
        border-top-left-radius: 15px;
        border-top-right-radius: 4px;
      }

      &.nextImmediate {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 4px;
      }

      div.message-details {
        margin-left: 10px;
        margin-right: 0;
        flex-direction: row;

        svg {
          margin-left: 0;
          margin-right: 5px;

          path {
            color: darken($secondary-color, 15);
          }
        }

        span {
          color: darken($secondary-color, 15);
        }
      }
    }
  }

  div.message-bubble {
    background-color: $primary-darken-color;
    order: 0;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    margin-top: 5px;
    max-width: 50%;
    display: flex;
    flex-direction: row-reverse;

    &.previousImmediate {
      border-top-left-radius: 4px;
    }

    &.nextImmediate {
      border-bottom-left-radius: 4px;
    }

    &.loading {
      background-color: $primary-color;

      // Animation
      animation-duration: 1.7s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: placeholderAnimate;
      background: $primary-color;
      background: linear-gradient(
        to right,
        $primary-darken-color 2%,
        $primary-color 18%,
        $primary-darken-color 33%
      );
      background-size: 1300px; // Animation Ar
    }

    div.content-container {
      display: flex;
      flex-direction: column;

      span.creator {
        font-size: 13px;
        font-weight: bold;
        color: $secondary-text-color;
      }
    }

    div.message-details {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      font-size: 13px;
      color: $secondary-text-color;

      div.message-flags {
        display: flex;
      }

      svg {
        margin-left: 5px;
        font-size: 15px;

        path {
          color: $secondary-text-color;
        }
      }

      span {
        line-height: 13px;
        color: $secondary-text-color;
      }
    }
  }
}
