$primary-color: #353535;
$primary-darken-color: #272727;
$secondary-color: #ff9800;
$secondary-darken-color: #e68900;
$primary-text-color: #ffffff;
$secondarty-text-color: #949494;
$error-color: #ff0033;
