@import "../../../styles/colors.scss";

.checkbox-input-container {
  display: flex;
  margin-bottom: 20px;
  margin-top: 10px;
  user-select: none;

  label {
    font-size: 15px;
    margin-right: 10px;
    line-height: 15px;

    &:hover {
      cursor: pointer;
    }
  }

  input[type="checkbox"] {
    visibility: hidden;
    position: absolute;
    z-index: 1;
  }

  div.checkbox {
    width: 16px;
    height: 16px;
    background-color: WHITE;
    border-radius: 3px;
    color: BLACK;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    .icon,
    .icon path {
      color: $primary-color !important;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
