@import "./../../../styles/colors.scss";

p.logo {
  text-align: center;
  margin: 0 0 10px 0;
  font-size: 34px;
  color: $primary-text-color;

  span {
    color: $secondary-color;
    font-weight: bold;
  }
}
