@import "../../styles/colors.scss";

.checkbox {
  width: 16px;
  height: 16px;
  background-color: WHITE;
  border-radius: 3px;
  color: BLACK;
  display: flex;
  justify-content: center;
  align-items: center;

  .icon,
  .icon path {
    color: $primary-color !important;
  }

  &:hover {
    cursor: pointer;
  }
}
